<app-navbar></app-navbar>
<div class="m-5">
    <div class="row my-3">
        <div class="col-10">
            <h1>Lista de Mensalidades</h1>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data Mensalidade</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Aluno</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mensalidade of Mensalidades">
                    <th scope="row">1</th>
                    <td>{{ mensalidade.createdAt | date: "dd/MM/yyyy"}}</td>
                    <td>{{ mensalidade.price }}</td>
                    <td>{{ mensalidade.student }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>