<app-navbar></app-navbar>
<div class="m-5">
    <div class="row my-3">
        <div class="col-10">
            <h1>Lista de Mensalidades</h1>
        </div>
        <div *ngIf="isStaff == true" class="col-2">
            <button class="btn btn-outline-primary" (click)="billingsGenerate()"> 
        Gerar Mensalidades 
      </button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Aluno</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Pagamento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mensalidade of mensalidades">
                    <th scope="row">1</th>
                    <td>{{ mensalidade.student.firstname }}</td>
                    <td>R$ {{ mensalidade.price }}</td>
                    <td>{{ mensalidade.dueDate | date: "dd/MM/yyyy"}}</td>
                    <td>
                        <div *ngIf="isStudent == true && mensalidade.datePaid == null">
                            <button type="submit" class="btn btn-outline-success" (click)="payBill(mensalidade)">Pagar</button>
                        </div>
                        <div *ngIf="mensalidade.datePaid != null">
                            <button class="btn btn-success">Pago em {{ mensalidade.datePaid | date: "dd/MM/yyyy"}} </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #detailsModal #atividade let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Detalhes da atividade
        </h4>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descricao</th>
                <th scope="col">Concluído</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let atividade of atividades">
                <td>{{ atividade.name }}</td>
                <td>{{ atividade.description }}</td>
                <td>
                    <div class="form-check">
                        <input *ngIf="isStaff == false" class="form-check-input" type="checkbox" value="true" id="training-done" [(ngModel)]="atividade.concluded">
                        <!--TODO trocar esses dois inputs por apenas um com controle da propriedade 'disabled' atraves de uma variavel-->
                        <input *ngIf="isStaff == true" class="form-check-input" type="checkbox" value="true" id="training-done" [(ngModel)]="atividade.concluded" disabled>

                        <label class="form-check-label" for="training-done">
                          Feito!
                        </label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button *ngIf="isStaff == false" type="button" class="btn btn-primary" (click)="updateTraining()">Salvar</button>
        <!--TODO trocar esses dois botoes por apenas um com controle da propriedade 'disabled' atraves de uma variavel-->
        <button *ngIf="isStaff == true" type="button" class="btn btn-primary" disabled>Salvar</button>

        <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Fechar</button>
    </div>
</ng-template>

<ng-template #priceModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Valor total do treino
        </h4>
    </div>
    <div class="modal-body">
        <tr>
            <th scope="row"></th>
            <td>R$ {{ totalPrice }}</td>
        </tr>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()"> 
            Fechar 
        </button>
    </div>
</ng-template>
<app-footer></app-footer>