<app-navbar></app-navbar><br>
<h1>Listar Treinos</h1>
<div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Data Treino</th>
                <th scope="col">Aluno</th>
                <th scope="col">Professor</th>
                <th scope="col">Atividades</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let treino of Treinos">
                <th scope="row">1</th>
                <td>{{ treino.Data_Treino| date: "dd/MM/yyyy"}}</td>
                <td>{{ treino.Cpf_Aluno }}</td>
                <td>{{ treino.Cpf_Professor }}</td>
                <td>
                    <button class="btn btn-outline-primary" (click)="open(content, treino.Atividade)"> 
                        Detalhes 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #content #Atividade let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            Detalhes da atividade
        </h4>
    </div>
    <div class="modal-body">
        <tr *ngFor="let atividade of Atividades">
            <th scope="row"> - </th>
            <td>{{ atividade.Descricao}}</td>
        </tr>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()"> 
            Fechar 
        </button>
    </div>
</ng-template>
<app-footer></app-footer>