<app-navbar></app-navbar>
<div class="m-4">
    <h2 class="my-5">Cadastrar Professor</h2>

    <div class="row">
        <div class="col-3 px-4 py-3">
            <form class="px-4 py-3 border">
                <div class="form-group">
                    <label for="Nome_Professor">Nome completo: </label><br>
                    <input class="form-control mr-sm-2" type="text" name="Nome_Professor" [(ngModel)]="Professor.Nome" />
                </div>
                <div class="form-group">
                    <label for="Cpf_Professor">CPF: </label><br>
                    <input class="form-control mr-sm-2" type="text" name="Cpf_Professor" [(ngModel)]="Professor.Cpf" />
                </div>
                <div class="form-group">
                    <label for="status">Status: </label><br>
                    <select name="status" class="mdb-select custom-select md-form mr-sm-2" id="inlineFormCustomSelect">
                      <option value="" disabled selected>Selecione...</option>
                      <option value="VALIDO">Válido</option>
                      <option value="PENDENTE">Pendente</option>
                    </select>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="statusProfessor" id="statusProfessorValido" value="VALIDO" checked>
                        <label class="form-check-label" for="statusProfessorValido">
                        Válido
                      </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="statusProfessor" id="statusProfessorInvalido" value="PENDENTE">
                        <label class="form-check-label" for="statusProfessorInvalido">
                        Inválido
                      </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="create()">Cadastrar</button>
            </form>
        </div>
        <div class="col-9">
        </div>
    </div>
</div>
<app-footer></app-footer>