<!-- Esse componente está muito parecido com o CREATE. Analise a possibilidade de transformar o CREATE e UPDATE num componente só-->

<div class="m-5">
    <div class="row my-3">
        <div class="col-10">
            <h1>Atualizar Cadastro de Aluno</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6 px-4 py-3">
            <form class="px-4 py-3 border">
                <div class="form-group">
                    <label for="firstName">Nome</label><br>
                    <input type="text" id="firstName" placeholder="Digite o primeiro nome" [(ngModel)]="student.firstname" [ngModelOptions]="{standalone: true}" /> <br>
                </div>
                <div class="form-group">
                    <label for="lastName">Sobrenome</label><br>
                    <input type="text" id="lastName" placeholder="Digite os sobrenomes" [(ngModel)]="student.lastname" [ngModelOptions]="{standalone: true}" /> <br>
                </div>
                <div class="form-group">
                    <label for="document">CPF</label><br>
                    <!-- TODO: Aplicar máscara-->
                    <input type="text" id="document" placeholder="Digite o CPF" [(ngModel)]="student.document" [ngModelOptions]="{standalone: true}" /> <br>
                </div>
                <div class="form-group">
                    <label for="username">Usuário</label><br>
                    <!-- TODO: Seria massa abstrair o USERNAME e SENHA para o aluno escolher depois-->
                    <input type="text" id="username" placeholder="Digite um nome de usuário" [(ngModel)]="student.username" [ngModelOptions]="{standalone: true}" /> <br>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Crie uma senha" [(ngModel)]="student.password" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="studentStatus" id="studentStatusActive" value="Ativo" checked [(ngModel)]="student.status">
                        <label class="form-check-label" for="studentStatusActive">
                            Ativo
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="studentStatus" id="studentStatusInactive" value="Inativo" [(ngModel)]="student.status">
                        <label class="form-check-label" for="studentStatusInactive">
                            Inativo
                        </label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary mr-auto" (click)="update()">Atualizar</button>
                    <button type="submit" class="btn btn-outline-danger" (click)="delete()">Apagar</button>
                </div>
            </form>
        </div>
        <div class="col-9">
        </div>
    </div>
</div>
