<app-navbar></app-navbar>
<div class="m-5">
    <div class="row my-3">
        <div class="col-10">
            <h1>Listagem de Atividades</h1>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Atividade of Atividades">
                    <th scope="row">1</th>
                    <td>{{ Atividade.Nome }}</td>
                    <td>{{ Atividade.Descricao }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>