<app-navbar></app-navbar>
<div class="row px-4 py-3">
    <div class="col-9">
        <div style="background-image: url('../../../../../../../../../Downloads/dumbbell-1966247_1920.jpg');"></div>
    </div>
    <form class="col-3 px-4 py-3">
        <div class="form-group">
            <label for="exampleInputEmail1">CPF</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="CPF do usuário">
            <small id="emailHelp" class="form-text text-muted">Nós nunca compartilhamos seus dados com mais ninguém.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>
        <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
            <button type="button" class="btn btn-primary">Aluno</button>
            <button type="button" class="btn btn-primary">Professor</button>
            <button type="button" class="btn btn-secondary">Administrador</button>
        </div>
    </form>
</div>
<app-footer></app-footer>