<form class="px-4 py-3 border">
    <div class="form-group">
        <label for="exampleInputEmail1">CPF</label>
        <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="CPF do usuário">
        <small id="emailHelp" class="form-text text-muted">Nós nunca compartilhamos seus dados com mais ninguém.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>
    <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">
        <button type="button" class="btn btn-primary" (click)="logInAlunoClicked()">Aluno</button>
        <button type="button" class="btn btn-primary" (click)="logInProfessorClicked()">Professor</button>
        <button type="button" class="btn btn-secondary" (click)="logInAdministradorClicked()">Staff</button>
    </div>
    <div>
        <a href="http://localhost:4200/aluno/create" style="font-size: 0.8em;">É novo por aqui? Cadastre-se.</a>
    </div>
</form>