<h2>CADASTRAR TREINO</h2>

<label>Data Treino</label><br>  
<input 
    type="date" 
    placeholder="Data do treino"
    name="Data_Treino"
    [(ngModel)]="Treino.Data_Treino"
/> <br>

<label>Cpf do Aluno</label><br>  
<input 
    type="text" 
    placeholder="Cpf do aluno"
    name="Cpf_Aluno"
    [(ngModel)]="Treino.Cpf_Aluno"
/> <br>

<label>Cpf do professor</label><br>  
<input 
    type="text" 
    placeholder="Cpf do professor"
    name="Cpf_Professor"
    [(ngModel)]="Treino.Cpf_Professor"
/> <br>

<H4>ATIVIDADE</H4>

<label>Nome</label><br>  
<input 
    type="text" 
    placeholder="Nome da atividade"
    name="Atividade_Nome"
    [(ngModel)]="Treino.Atividade"
/> <br>

<label>Descricao</label><br>  
<input 
    type="text" 
    placeholder="Descricao da atividade"
    name="Atividade_Descricao"
    [(ngModel)]="Treino.Atividade"
/> <br>

<label>Status</label><br>  
<input 
    type="text" 
    placeholder="Status da atividade"
    name="Atividade_Status"
    [(ngModel)]="Treino.Atividade"
/> <br>

<button (click)="create()">Cadastrar</button>