<!-- <app-navbar></app-navbar> -->
<div class="m-5">
    <div class="row my-3">
        <div class="col-10">
            <h1>Listar Alunos</h1>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-primary" (click)="navigateToMensalidadeList()"> 
        Mensalidades 
      </button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Data Matrícula</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Aluno of Alunos">
                    <td>{{Aluno.nome}}</td>
                    <td>{{Aluno.createdAt | date: "dd/MM/yyyy"}}</td>
                    <td>{{ Aluno.cpf }}</td>
                    <td>{{ Aluno.status }}</td>

                    <td>
                        <a routerLink="/aluno/update/{{Aluno.cpf}}">Alterar</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <app-footer></app-footer> -->