<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<app-navbar></app-navbar>

<br>
<div>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data Matrícula</th>
            <th scope="col">CPF</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Aluno of Alunos">
            <th scope="row">1</th>
            <td>{{Aluno.Nome}}</td>
            <td>{{Aluno.createdAt | date: "dd/MM/yyyy"}}</td>
            <td>{{ Aluno.Cpf }}</td>
          </tr>
        </tbody>
      </table>

</div>
<app-footer></app-footer>